@font-face {
    font-family: pixel;
    src: url(font/TTF/dogica.ttf);
}
body{
    background-image: url(img/wCPZ3Y.webp);
}
header{
    background-color:#2d2b4f;
    border-radius: 10px;
}
.papel{
    border: solid 2px #040406;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: #040406;
    box-shadow: 0 0 1em #2d2b4f;
}
.titulo{
    text-align: center;
    font-size: larger;
    font-family: pixel;
    color: white;
}
.icone{
    max-height: 500px;
    max-height: 500px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 1em #2d2b4f;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li{
    text-align: center;
    list-style: none;
    font-family: pixel;
}
.titu{
    text-align: center;
    font-size: 30px;
    font-family: pixel;
    color: white;
}
a{
    color: white;
    font-size: larger;
}
a:hover {
    color: #2d2b4f;
    text-decoration: none;
}
.contato{
    max-width: 50px;
    max-height: 50px;
}
p{
    font-family: pixel;
    color: white;
    font-size: 20px;
    text-align: center;
}